html, body {
    height: 98vh;
    background: black;
}
    .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 70vh;
}
#canvas{
        border: 1px solid white;
    }
a {
    display: block;
    width: 0.3vh;
    line-height: 6.0vh;
    background-color: lightgrey;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-width: 0;
}
.gameInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    align-self: flex-start;
}
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-grow: 1;
}
.optionsBlock{
    isplay: none;
    position: absolute;
    order: 1px solid white;
    top: -47vh;
}
li {
    display: block;
    font-size: 36px;
    padding-bottom: 3vh;
}
    li a {
        display: block;
        width: 22vh;
        line-height: 6.0vh;
        background-color: lightgrey;
        color: white;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
    }
    li a:hover {
        background-color: grey;
        color: white;
    }
 li   a:active {
        transform: scale(1.05,1.05);
    }

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    order: 3;
}


.buttons canvas {
    border: 1px solid red;
}
#infoCanvas {
    order: 2;
    flex-grow: 1;
}