
html, body {
    height: 98vh;
    background: black;
    margin: 0;

}
ul{
    margin: 10px;
    padding: 0px;
}
p{
    margin: 10px;
    padding: 0px;
}

    .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 70vh;
    position: absolute;
    z-index: 1;
}
#canvas{
        border: 1px solid white;
        background-color: black;
    }

.rotateDisplay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    color: white;
    margin: 0 0 4px;
    text-align: center;
}
input {
    border: #000;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
    width: 100%;
    color: black;
}
a {
    display: block;
    width: 8.3vh;
    line-height: 6.0vh;
    background-color: lightgrey;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border-width: 0;
}
.gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.blockStartGame {
    width: 100%;
    height: 100%;
    background-color: rosybrown;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}
.optionsBlock p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.startGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menuList {
    display: flex;
    flex-direction: column;
}
.menuIcon{
    display: none;
}
.menuList li {
    margin: 0px 10px 0px 0px;
}
.newGameBlock, .recordsBlocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0px, -100%);
    transition: all 1.3s ease 0s;
}
li {
    display: block;
    font-size: 36px;
    padding-bottom: 3vh;
}
    li a {
        width: 28vh;
    }
a:hover {
        background-color: grey;
        color: white;
    }
a:active {
        transform: scale(1.1,1.1);
    }
button {
    width: 20vh;
    line-height: 6.0vh;
    background-color: lightgrey;
    text-align: center;
    text-transform: uppercase;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    order: 3;
}
    .buttons button{
        width: 100%;
    }
    .buttons a {
        width: 16vh;
        border: 1px solid grey;
    }
.buttons a:hover {
    background-color: lightgrey;
    color: black;
}
        .buttons a:active {
            transform: scale(1,1);
            background-color: dimgrey;
        }


.buttons canvas {
    border: 1px solid red;
}
#infoCanvas {
    order: 2;
    flex-grow: 1;
}
@media(min-width: 750px) {
    .menuList{
        display: flex;
        align-items: center;
    }
    

}
    @media(max-width: 750px) {
        .menuIcon {
            z-index: 5;
            display: block;
            position: relative;
            width: 40px;
            height: 20px;
            cursor: pointer;
        }

            .menuIcon span,
            .menuIcon::before,
            .menuIcon::after {
                left: 0vh;
                top: -2vh;
                position: absolute;
                height: 10%;
                width: 100%;
                
                transition: all 0.3s ease 0s;
                background-color: white;
            }

            .menuIcon::before,
            .menuIcon::after {
                content: "";
            }

            .menuIcon::before {
                top: 5vh;
                left: -15vw;
            }

            .menuIcon::after {
                top: 6.5vh;
                left: -15vw;
            }

            .menuIcon span {
                top: 5.8vh;
                left: -15vw;
                transform: scale(1) translate(0px, -50%);
            }

        .menuBody {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            transform: translate(0px, -100%);
            transition: all 1.3s ease 0s;
        }
        .menuBody._active{
            transform: translate(0px, 0px);
        }
        .menuList li {
            margin: 0px 0px 0px 0px;
        }
    }
